apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../../base/deployment.yaml
  - ../../../base/service.yaml
  - ../../../base/hpa.yaml

patches:
  - path: rollout-bluegreen.yaml
    target:
      kind: Rollout
      name: maven-app

  - path: bluegreen-ingress.yaml
    target:
      kind: Ingress
      name: maven-app-bluegreen-ingress

  - path: bluegreen-service.yaml
    target:
      kind: Service
      name: maven-app-active
      
images:
  - name: ayoobki/maven-app
    newTag: dev
