apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: dev

resources:
  - ../../../base/deployment.yaml
  - ../../../base/service.yaml
  - ../../../base/hpa.yaml

patches:
  - rollout-bluegreen.yaml
  - bluegreen-service.yaml
  - bluegreen-ingress.yaml

images:
  - name: ayoobki/maven-app
    newTag: dev
