apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: dev

resources:
  - ../../../base

resources:
  - rollout-bluegreen.yaml
  - bluegreen-ingress.yaml

patches:
  - path: rollout-bluegreen.yaml
    target:
      kind: Deployment
      name: maven-app
